* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

/* --------------------------------------- UNIVERSAL STYLES */

button {
  cursor: pointer;
}

button:hover {
  opacity: 90%;
}

.btn-main {
  height: 50px;
  width: 225px;
  font-size: 19px;
  background-color: #2948ff;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 6px;
}

.btn-primary {
  height: 50px;
  width: 225px;
  font-size: 19px;
  color: #2948ff;
  font-weight: 500;
  border: none;
  background-color: white;
  border-radius: 6px;
}

.btn-secondary {
  margin-left: 15px;
  height: 50px;
  width: 225px;
  font-size: 19px;
  color: white;
  font-weight: 500;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid white;
}

/* UNIVERSAL STYLES END */

.wrapper {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  background-color: #2948ff;
}

/* --------------------------------------- NAVBAR */

nav {
  font-family: Nunito Sans;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  max-width: 1180px;
  margin: 0 auto;
  /* padding: 20px 0; */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo > img {
  width: 40px;
  height: 40px;
}

.logo > p {
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.btn-navbar-border {
  width: 86px;
  height: 48px;
  text-decoration: none;
  gap: 6px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 18px;
  margin-right: 20px;
}

.btn-navbar-white {
  width: 97px;
  height: 48px;
  gap: 6px;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 18px;
  background-color: white;
  color: #2948ff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: center;
}

/* NAVBAR END */

/*--------------------------------------- BANNER */

.title {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 60px;
  max-width: 1180px;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
}

.banner-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-left > img {
  height: 422px;
  width: 423px;
  position: relative;
  bottom: 0;
}

.banner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.banner-right > p {
  color: white;
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 400;
}

.banner-right > div {
  display: flex;
}

.banner-right > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.banner-right > div > button > img {
  height: 20px;
  width: 18px;
}

.users {
  display: flex;
  align-items: center;
  margin: 30px 0 20px;
}

.users > img {
  width: 120px;
  height: 48px;
  margin-left: 20px;
}

.user-number {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

/* BANNER END */

/*--------------------------------------- BENEFIT */

.benefit {
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 1180px;
  margin: 0 auto;
  padding: 60px 20px;
}

.benefit > div {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 0 15px;
}

.benefit > div > div > img {
  width: 58px;
  height: 58px;
  margin-right: 20px;
}

/* BENEFIT END */

/*--------------------------------------- WELCOME TO E WALLET */

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 60px auto;
  padding: 0 20px;
}

.welcome-kanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-right: 50px;
  max-width: 50%;
}

.welcome-kanan > p:nth-child(1) {
  color: #2948ff;
  font-weight: 800;
}

.welcome-kanan > p:nth-child(2) {
  color: black;
  font-weight: 600;
  font-size: 30px;
}

.welcome > div > img {
  max-width: 100%;
  height: auto;
  max-height: 405px;
}

/* WELCOME TO E WALLET END */

/*--------------------------------------- ZWALET */

.zwalet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 60px 20px;
  background-color: #e8e8e84d;
  max-width: 100%;
}

.zwalet > .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.zwalet > .teks {
  width: 55%;
  padding: 0 40px;
  max-width: 600px;
}

.zwalet > .teks > p:nth-child(1) {
  font-size: 33px;
  font-weight: 600;
}

.zwalet > .teks > p:nth-child(2) {
  font-size: 18px;
  padding: 30px 0;
}

.check-list > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.check-list > div > img {
  width: 30px;
  height: 30px;
}

.check-list > div > p {
  font-weight: 700;
  color: #00a700;
  font-size: 18px;
}

.zwalet > .img > img {
  max-width: 100%;
  height: auto;
}

/* ZWALET END */

/*--------------------------------------- TRUSTED PARTENRS */

/* partners */
.trusted-partners {
  max-width: 1180px;
  margin: 60px auto;
  padding: 0 20px;
}

.trusted-partners > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.trusted-partners > div > div > P:nth-child(1) {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.trusted-partners > div > div > P:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

.trusted-partners > div > div > img:first-child {
  max-width: 100%;
  height: auto;
}

.trusted-partners > div > div > img:last-child {
  display: none;
}

/* testimoni */
.trusted-partners > div:nth-child(2) {
  text-align: center;
}

.trusted-partners > div:nth-child(2) > p:nth-child(1) {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.trusted-partners > div:nth-child(2) > p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
  margin-bottom: 30px;
}

.testimoni {
  display: flex;
  justify-content: space-between;
}

.testimoni > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.box {
  width: 100%;
  max-width: 707px;
  background-color: #2948ff;
  border-radius: 16px;
  padding: 40px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.box > img:nth-child(1) {
  width: 58px;
  height: 58px;
}

.box > img:nth-child(3) {
  width: 165px;
  height: 20px;
}

.box > img:nth-child(4) {
  width: 20px;
  height: 15px;
}

.box > p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}

.box > p:nth-child(5) {
  max-width: 600px;
}

/* TRUSTED PARTENRS END */

/*--------------------------------------- DONWLOAD APP */

.donwload-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 70px 0;
  background-color: #e8e8e84d;
  padding: 60px 20px;
}

.donwload-app > div:first-child {
  width: 45%;
  display: flex;
  justify-content: center;
}

.donwload-app > div:last-child {
  width: 55%;
  padding: 0 40px;
  max-width: 600px;
}

.donwload-app > div > p:nth-child(1) {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.donwload-app > div > p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 30px;
}

.donwload-app > div > div {
  display: flex;
  gap: 15px;
}

.donwload-app > div > img {
  max-width: 100%;
  height: auto;
}

.donwload-app > div > div > button:nth-child(1) {
  background-color: #2948ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.donwload-app > div > div > button:nth-child(1) > img {
  height: 20px;
  width: 18px;
}

.donwload-app > div > div > button:nth-child(2) {
  background-color: transparent;
  color: #2948ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1.5px solid #2948ff;
}

.donwload-app > div > div > button:nth-child(2) > img {
  height: 20px;
  width: 18px;
}

/* DONWLOAD APP END */

/*--------------------------------------- FOOTER */

.footer {
  background-color: #2948ff;
  padding: 60px 20px;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1180px;
  margin: 0 auto 50px;
}

.footer-grid > div {
  padding: 0 15px;
}

/* E-WALLET */
.footer-grid > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-grid > div:nth-child(1) > div > img {
  width: 40px;
  height: 40px;
}

.footer-grid > div:nth-child(1) > div > span {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}

.footer-grid > div:nth-child(1) > div > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: white;
  margin-top: 15px;
}

/* GET IN TOUCH */
.footer-grid > div:nth-child(2) > p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 35px;
}

.footer-grid > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-grid > div:nth-child(2) > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-grid > div:nth-child(2) > div > div > span {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
}

.footer-grid > div:nth-child(2) > div > div > img {
  width: 24px;
  height: 24px;
}

/* SOCIAL MEDIA */
.footer-grid > div:nth-child(3) > p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 35px;
}

.sosmed {
  display: flex;
  gap: 12px;
}

.sosmed a {
  display: block;
}

/* NEWSLETTER */
.footer-grid > div:nth-child(4) > p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 35px;
}

.footer-grid > div:nth-child(4) > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-grid > div:nth-child(4) > div > span {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding: 5px;
  border: none;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.footer-grid > div:nth-child(4) > div > span > input {
  height: 40px;
  width: 100%;
  border: none;
  padding: 0 10px;
}

.footer-grid > div:nth-child(4) > div > span > input:focus {
  outline: none;
}

.footer-grid > div:nth-child(4) > div > button {
  width: 100%;
  height: 36px;
  border-radius: 6px;
  padding: 10px;
  background-color: #ffffff;
  color: #2948ff;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* COPYRIGHT */
.copyright {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}

/* FOOTER END */

/* Responsive */

.hamburger {
  display: none;
}

@media (max-width: 808px) {
  .wrapper {
    width: 100%;
  }

  .container {
    position: relative;
  }

  nav {
    position: sticky;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
  }

  nav > span:nth-child(2) {
    display: none;
  }

  .logo > p {
    font-size: 20px;
  }

  .logo > img {
    width: 32px;
    height: 32px;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .hover-navbar {
    display: none;
  }

  .hamburger:hover > .hover-navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 55px;
  }

  .hover-navbar > .hamburger-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-width: 320px;
    width: 100%;
    height: 154px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 25px 0px #00000026;
  }

  .hover-navbar > .hamburger-box > a {
    width: 100%;
    height: 48px;
    gap: 6px;
    padding: 12px 18px;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    text-decoration: none;
    color: #2948ff;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
  }

  .hover-navbar > .hamburger-box > a:hover{
    background-color: #2948ff;
    color: white;
  }

  .container {
    position: relative;
    height: fit-content;
    padding: 0 20px;
  }

  .title {
    text-align: start;
  }

  .title > p {
    font-size: 24px;
  }

  .banner {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-right > p {
    text-align: start;
    font-size: 16px;
  }

  /* Parent Button banner */

  .banner-right > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
  }

  .btn-primary,
  .btn-secondary {
    height: 40px;
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .users > p {
    font-size: 24px;
  }

  .users > img {
    width: 100px;
    height: 38px;
    margin: 0;
    padding: 0;
  }

  /* Banner Image */
  .banner-left > img {
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
  }

  /* --------------------- benefit ------------------------- */

  .benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 50px 20px;
    margin: 0;
  }

  .benefit > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    gap: 15px;
  }

  .benefit > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  /* --------------------- welcome ------------------------- */
  .welcome {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    align-items: center;
    padding: 30px 20px;
  }

  .welcome-kanan {
    padding-right: 0;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .welcome > div > img {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: 0;
  }

  /* --------------------- zwalet ------------------------- */
  .zwalet {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 40px 20px;
  }

  .zwalet > .teks,
  .zwalet > .img {
    width: 100%;
    padding: 20px 0;
  }

  .zwalet > div > img {
    width: 250px;
    margin: 0;
    padding: 0;
  }

  /* --------------------- Partners ------------------------- */

  .trusted-partners {
    height: fit-content;
    padding: 30px 20px;
    margin: 30px 0;
  }

  .trusted-partners > div:nth-child(2) > p:nth-child(1) {
    font-size: 30px;
  }

  .trusted-partners > div:nth-child(1) {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .trusted-partners > div > div {
    height: fit-content;
    text-align: center;
  }

  .trusted-partners > div > div > img:first-child {
    display: none;
  }

  .trusted-partners > div > div > img:last-child {
    display: block;
    width: 110px;
    height: auto;
    max-height: 555px;
  }

  /* --------------------- Donwload ------------------------- */

  .donwload-app {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    padding: 40px 20px;
  }

  .donwload-app > div:first-child,
  .donwload-app > div:last-child {
    width: 100%;
    padding: 20px 0;
  }

  .donwload-app > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .donwload-app > div > img {
    width: 250px;
    height: auto;
    margin-top: 30px;
  }

  /* --------------------- Testimoni ------------------------- */

  .testimoni > button {
    display: none;
  }

  .box {
    width: 100%;
    height: auto;
    padding: 30px 15px;
  }

  /* --------------------- Footer ------------------------- */

  .footer {
    height: fit-content;
    padding: 40px 20px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .footer-grid > div:nth-child(1) > div > span {
    font-size: 36px;
  }

  .footer-grid > div {
    display: flex;
    flex-direction: column;
  }

  .sosmed {
    justify-content: center;
  }
}
