* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

.sidebar > div > a:nth-child(1) {
  background-color: #2948ff;
  color: white;
  border-radius: 6px;
}

/* DASHBOARD UTAMA */

/* .dashboard { 
  background-color: #fff;
  border: 1px solid #e8e8e8;
     width: 768px; */
/* height: 948px; */
/* width: 100%; */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* padding-top: 20px; */
/* gap: 20px; 
}*/

.dashboard {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  flex: 1;
  min-height: calc(100vh - 76px);
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  justify-content: flex-start;
  padding: 30px 10px;
  /* align-items: center; */
  gap: 20px;
  overflow-y: auto;
}

/* INFORMATION */

.dashboard > div:nth-child(1) {
  /* background-color: darkblue; */
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 843px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.dashboard > div:nth-child(1) > div:nth-child(1) {
  max-width: 700px;
  width: 100%;
  height: 147px;
  top: 285px;
  left: 300px;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* BALANCE, INCOME, EXPENSE */

.dashboard > div:nth-child(1) > div:nth-child(1) > div {
  max-width: 222px;
  width: 100%;
  height: 147px;
  top: 120px;
  left: 778px;
  border-radius: 6px;
  border: 2px solid #e8e8e8;
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.dashboard > div:nth-child(1) > div:nth-child(1) > div > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dashboard > div:nth-child(1) > div:nth-child(1) > div > div > span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
  color: #4f5665;
}

.dashboard > div:nth-child(1) > div:nth-child(1) > div > div > img {
  width: 22px;
  height: 20px;
}

.dashboard > div:nth-child(1) > div:nth-child(1) > div > p:nth-child(2) {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

.dashboard > div:nth-child(1) > div:nth-child(1) > div > p:nth-child(3) {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #00a700;
}

.dashboard > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > p:nth-child(3) {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #d00000;
}

/* FAST SERVICE */

.dashboard > div:nth-child(1) > div:nth-child(2) {
  border: 2px solid #e8e8e8;
  max-width: 700px;
  width: 100%;
  height: 81px;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

.dashboard > div:nth-child(1) > div:nth-child(2) > span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dashboard > div:nth-child(1) > div:nth-child(2) > span > button {
  width: 109px;
  height: 45px;
  padding: 4px 12px 4px 8px;
  gap: 8px;
  border-radius: 6px;
  background-color: #2948ff;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard > div:nth-child(1) > div:nth-child(2) > span > button > img {
  width: 22px;
  height: 19px;
}

/* INCOME CHART */

.income-chart {
  border: 2px solid #e8e8e8;
  max-width: 700px;
  width: 100%;
  height: 574px;
  border-width: 1px;
  position: relative;
  z-index: 20;
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 30px;
}

.income-chart > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.income-chart > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.income-chart > div > span:nth-child(2) {
  gap: 20px;
}

.income-chart > div > span > button {
  max-width: 113px;
  width: 100%;
  height: 35px;
  gap: 10px;
  border-radius: 6px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.income-chart > div > span > button > img {
  width: 7.999999523162842;
  height: 4;
  top: 6px;
  left: 4.33px;
  border-width: 2px;
}

.income-chart > div > img {
  max-width: 668px;
  max-height: 472px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* TRANSACTION */

.transaction {
  border: 2px solid #e8e8e8;
  max-width: 341px;
  width: 100%;
  height: fit-content;
  top: 120px;
  left: 1020px;
  border-radius: 6px;
  border-width: 1px;
  padding: 20px;
}

.transaction > div {
  display: flex;
  justify-content: space-between;
}

.transaction > div > p:nth-child(1) {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

.transaction > div > p:nth-child(2) {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.6%;
  color: #2948ff;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.users > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users > div > div {
  display: flex;
  gap: 10px;
}

.users > div > div > img {
  height: 56px;
  width: 56px;
}

.users > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.users > div > div > div > p:nth-child(1) {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.users > div > .transfer {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #00a700;
}

.users > div > .send {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #d00000;
}

@media (max-width: 1118px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .transaction {
    width: 100%;
  }
}

@media (max-width: 830px) {
  nav {
    border: none;
    margin: 0;
  }

  .navbar-mobile > a:nth-child(1) {
    color: #2948ff;
    font-weight: 700;
  }

  .dashboard {
    background: linear-gradient(to top, white 93%, #2948ff 7%);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    padding: 30px 10px 100px;
  }

  .dashboard > div:nth-child(1) {
    height: fit-content;
  }

  /* --------------------------- Balance, income, expense --------------------------- */
  .dashboard > div:nth-child(1) > div:nth-child(1) {
    background-color: white;
    border-radius: 24px;
    border: 2px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
  }

  /* Icon biru yg disebelah Balance, income, expense */
  .dashboard > div:nth-child(1) > div:nth-child(1) > div > div > img {
    display: none;
  }

  .dashboard > div:nth-child(1) > div:nth-child(1) > div > div > span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* masing2 kotak nya */
  .dashboard > div:nth-child(1) > div:nth-child(1) > div {
    border: none;
    height: fit-content;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .dashboard > div:nth-child(1) > div:nth-child(1) > div > p:nth-child(2) {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* perintilan stonks */
  .dashboard > div:nth-child(1) > div:nth-child(1) > div > p:nth-child(3) {
    font-size: 10px;
  }

  .dashboard > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > p:nth-child(3) {
    font-size: 10px;
    color: #d00000;
  }

  /* FAST SERVICE */
  .title {
    display: none;
  }

  .dashboard > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .dashboard > div:nth-child(1) > div:nth-child(2) > span:nth-child(2) {
    display: flex;
    width: 100%;
  }

  .dashboard > div:nth-child(1) > div:nth-child(2) > span > button {
    width: 100%;
    height: 35px;
  }

  /* Income Chart */

  .income-chart {
    max-width: 100%;
    height: fit-content;
  }

  .income-chart > div > span > button {
    font-size: 10px;
  }

  .income-chart > div > span {
    font-size: 14px;
  }

  /* TRANSACTION */

  .transaction {
    max-width: 100%;
  }

  .transaction > div > p:nth-child(1) {
    font-size: 14px;
  }

  .users > div > div > img {
    height: 40px;
    width: 40px;
    object-fit: contain;
  }

  .users > div > div > div > p:nth-child(1) {
    font-size: 12px;
  }

  .users > div > div > div > p:nth-child(2) {
    font-size: 10px;
  }

  .users > div > .transfer,
  .users > div > .send {
    font-size: 12px;
  }
}
