* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

.sidebar > div > a:nth-child(5) {
  background-color: #2948ff;
  color: white;
  border-radius: 6px;
}

/* DASHBOARD UTAMA */
.dashboard {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  flex: 1;
  min-height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 10px;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
}

/* ISI */

.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  max-width: 1061px;
  width: 100%;
}

.guide > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.guide > span > span {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

/* FIND PEOPLE */

.edit-profile {
  max-width: 1061px;
  width: 100%;
  height: 720px;
  top: 206px;
  left: 300px;
  border: 2px solid #e8e8e8;
  padding: 30px;
}

.edit-profile p:nth-child(1) {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

/* PROFILE PICTURE */

.profile-picture {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.profile-picture > :nth-child(1) {
  /* background-color: #e8e8e8; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture > :nth-child(1) > img {
  width:110px;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
}

.profile-picture > :nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-left: 20px; */
}

.profile-picture > :nth-child(2) > button, .profile-picture > :nth-child(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  width: 100%;
  height: 42px;
  font-size: 14px;
  gap: 8px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-radius: 6px;
}

.profile-picture > :nth-child(2) > div:first-child {
  background-color: #2948ff;
  color: white;
  border: none;
}

.profile-picture > :nth-child(2) > div:first-child > label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture > :nth-child(2) > div:first-child > input {
  display: none;
}

.profile-picture > :nth-child(2) > div:first-child > label {
  display: block;
cursor: pointer;
}

.profile-picture > :nth-child(2) > button:nth-child(2) {
  cursor: pointer;
  border: 1px solid #d00000;
  background-color: white;
}

/* .form */

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.form > div > label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.form > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #e8e8e8;
  padding: 0 15px;
}

.form > div > div > input {
  width: 100%;
  height: 44;
  gap: 10px;
  border: none;
  padding: 14px 13px;
}

.form > div > div > input:focus {
  outline: none;
}

.change {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change > a {
  cursor: pointer;
  color: #2948ff;
  text-decoration: none;
}

.form > button {
  background-color: #2948ff;
  color: white;
  border: none;
  width: 100%;
  height: 45px;
  gap: 8px;
  border-left-width: 4px;
  padding: 4px 12px 4px 8px;
  border-radius: 6px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: center;
  cursor: pointer;
}

button:hover {
  opacity: 90%;
}

@media (max-width: 600px) {
  .navbar-mobile > a:nth-child(5){
    color: #2948ff;
    font-weight: 700;
  }

  nav {
    display: none;
  }

  .dashboard {
    margin: 0;
    padding: 0 0 80px;
  }

  .guide svg {
    display: none;
  }

  .guide {
    background-color: #2948ff;
    color: white;
    height: 54px;
    padding: 0 20px;
  }

  .guide > span > span {
    font-size: 14px;
    font-weight: 500;
  }

  div > .edit-profile {
    border: none;
    padding-top: 0;
  }

  .edit-profile > div:nth-child(1) > p, .form > div > label, .profile-picture > p, .change > a{
    font-weight: 500;
    font-size: 14px;
  }

  .profile-picture {
    display: flex;
    justify-content: space-between;
  }

  .profile-picture > div:nth-child(1) {
    height: 100px;
    width: 100px;
  }

  /* BUTTON */
  .profile-picture > div:nth-child(2) {
    margin: 0;
    padding: 0;

  }

  .profile-picture > div:nth-child(2) > button, .profile-picture > div:nth-child(2) > div:first-child > label {
    font-size: 12px;
    /* height: 38px; */
  }

}
