* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}


body {
  background-color: #2948ff;
}

.dropdown {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown:hover{
  scale: 120%;
}


.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.register {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 70px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.register > div:nth-child(1) {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 7px;
}

.register > div:nth-child(1) > span {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2948ff;
}

.register > div:nth-child(1) > img {
  width: 32px;
  height: 32px;
}

.register > div:nth-child(2) > div:nth-child(1) > p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
}

.register > div:nth-child(2) > div:nth-child(2) > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 166%;
  letter-spacing: 0%;
  padding-top: 20px;
}

.register > div:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.pin-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px 0;
}

.pin-grid > input {
  width: 66px;
  height: 66px;
  border: none;
  border-bottom: 2px solid #929292;
  outline: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pin-grid > input:focus {
  border-bottom: 2px solid #2948ff;
  outline: none;
}

.pin-grid > div:nth-child(1) {
  border-bottom: 2px solid #2948ff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register > div:nth-child(3) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  width: 562px;
  height: 40px;
  gap: 10px;
  border-radius: 6px;
  padding: 10px;
  background-color: #2948ff;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 90%;
}

.register > div:nth-child(3) > div:nth-child(2) > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 15px;
}

.register > div:nth-child(3) > p > a {
  text-decoration: none;
}

.ilustrasi {
  background-color: #2948ff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ilustrasi > div > img {
  width: 527px;
  height: 600px;
}
