* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: #2948ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  width: 40%;
  height: 60%;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box > div:nth-child(1) {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 7px;
}

.box > div:nth-child(1) > span {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2948ff;
}

.box > div:nth-child(1) > img {
  width: 32px;
  height: 32px;
}

.box > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.box > div:nth-child(2) > p:nth-child(1) {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.box > div:nth-child(2) > p:nth-child(2) {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0%;
  padding: 20px 0 7px;
}

.box > form > div {
  display: flex;
  flex-direction: column;
}

.box > form > div > label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  padding: 10px 0;
}

.box > form > div > span {
  width: 100%;
  height: 44px;
  padding-top: 14px;
  padding-right: 13px;
  padding-bottom: 14px;
  padding-left: 13px;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid #d2d3d4;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.box > form > div > span > input {
  height: 40px;
  border: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.75px;
}

.box > form > div > span > input:focus {
  outline: none;
}

.box > form > button {
  width: 100%;
  height: 50px;
  gap: 10px;
  border-radius: 6px;
  padding: 10px;
  background-color: #2948ff;
  border: none;
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

button:hover{
  opacity: 90%;
}

@media (max-width: 768px){
  .box{
    width: 80%;
    height: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
  }

  .box > div:nth-child(2) > p:nth-child(1){
    font-size: 16px;
    font-weight: 600;
  }
  
  .box > div:nth-child(2) > p:nth-child(2){
    padding: 0;
    font-size: 14px;
    font-weight: 400;
  }

  .box > form > button {
    font-size: 14px;
  }
}