* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

.container {
  height: 100%;
}

.container > div {
  display: flex;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 76px;
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 0 0 1px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 79px 0 44px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 50;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo > img {
  width: 32px;
  height: 32px;
}

.logo > p {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2948ff;
}

nav > span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav > span:nth-child(2) > span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
}

nav > span:nth-child(2) > img:nth-child(2) {
  width: 48px;
  height: 48px;
}

nav > span:nth-child(2) > img:nth-child(3) {
  width: 18px;
  height: 10px;
  border-width: 2px;
}

/* SIDEBAR */

.sidebar {
  /* background-color: #2948ff; */
  background-color: #fff;
  border: 1px solid #e8e8e8;
  width: 262px;
  height: 70vh;
  top: 76px;
  left: -1px;
  padding: 24px 42px;
  gap: 15px;
  position: sticky;
  left: 0;
  z-index: 20;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.sidebar > div > a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.sidebar > div > a:nth-child(3) {
  background-color: #2948ff;
  color: white;
  border-radius: 6px;
}

.sidebar > div > a {
  width: 208px;
  height: 45px;
  text-decoration: none;
  font-family: Montserrat;
  color: #4f5665;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
}

.sidebar > div > a > img {
  width: 24px;
  height: 24px;
}

/* DASHBOARD UTAMA */

.dashboard {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  width: 100%;
  height: 948px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 30px;
  align-items: center;
  gap: 20px;
}

/* ISI */

.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 1061px;
}

.guide > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
  gap: 10px;
}

.guide > span > img {
  width: 24px;
  height: 24px;
}

/* FIND PEOPLE */

.find-people {
  width: 1061px;
  height: 720px;
  top: 206px;
  left: 300px;
  border: 2px solid #e8e8e8;
}

.find-people > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.find-people > div:nth-child(1) > p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

.find-people > div:nth-child(1) > span {
  width: 340px;
  height: 40px;
  top: 230px;
  left: 994px;
  border-radius: 6px;
  gap: 10px;
  padding: 10px;
  border: 2px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-people > div:nth-child(1) > span > input {
  border: none;
  width: 340px;
  height: 35px;
}

.find-people > div:nth-child(1) > span > img {
  width: 16px;
  height: 16px;
}

.find-people > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-people > div:nth-child(2) > div {
  height: 72px;
  width: 1003px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.find-people > div:nth-child(2) > div:nth-child(odd) {
  background-color: #e8e8e8;
}

.find-people > div:nth-child(2) > div:nth-child(even) {
  background-color: white;
}

.find-people > div:nth-child(2) > div > img:nth-child(1) {
  width: 48px;
  height: 48px;
}

.find-people > div:nth-child(2) > div > img:nth-child(5) {
  width: 24px;
  height: 24px;
}

.green {
  color: #1ec15f;
}

.red {
  color: #d00000;
}

/* PAGES */
.pages{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pages > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 1003px;
}

.pages > div > span {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.pages > div > img {
  width: 335px;
  height: 18px;
  gap: 20px;
}
