* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

.sidebar > div > a:nth-child(3) {
  background-color: #2948ff;
  color: white;
  border-radius: 6px;
}

/* DASHBOARD UTAMA */

.dashboard {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  flex: 1;
  min-height: calc(100vh - 76px);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px 30px;
  /* align-items: center; */
  gap: 20px;
  overflow-y: auto;
  padding-top: 20px;
}

/* ISI */

.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 1061px;
  width: 100%;
}

.guide > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
  gap: 10px;
}

.guide > span > img {
  width: 24px;
  height: 24px;
}

/* FIND PEOPLE */

.find-people {
  max-width: 1061px;
  width: 100%;
  height: fit-content;
  top: 206px;
  left: 300px;
  border: 2px solid #e8e8e8;
  padding: 0 20px;
}

.find-people > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.find-people > div:nth-child(1) > p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

.find-people > div:nth-child(1) > span {
  max-width: 340px;
  width: 100%;
  height: 40px;
  top: 230px;
  left: 994px;
  border-radius: 6px;
  gap: 10px;
  padding: 10px;
  border: 2px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-people > div:nth-child(1) > span > input {
  border: none;
  width: 340px;
  height: 35px;
}

.find-people > div:nth-child(1) > span > input:focus {
  outline: none;
}

.find-people > div:nth-child(1) > span > img {
  width: 16px;
  height: 16px;
}

.history-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TABEL HISTORY */
.find-people > div:nth-child(2) > div {
  height: 72px;
  max-width: 1003px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.find-people > div:nth-child(2) > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-people > div:nth-child(2) > div > div:nth-child(2),
.find-people > div:nth-child(2) > div > div:nth-child(3) {
  max-width: 250px;
  width: 100%;
}

.find-people > div:nth-child(2) > div > div:nth-child(4) {
  max-width: 200px;
  width: 100%;
}

.find-people > div:nth-child(2) > div:nth-child(odd) {
  background-color: #e8e8e8;
}

.find-people > div:nth-child(2) > div:nth-child(even) {
  background-color: white;
}

.find-people > div:nth-child(2) > div > div > img:nth-child(1) {
  width: 48px;
  height: 48px;
}

.find-people > div:nth-child(2) > div > div > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.green {
  color: #1ec15f;
}

.red {
  color: #d00000;
}

/* PAGES */
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pages > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 1003px;
}

.pages > div > span:nth-child(1) {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.pages > div > span:nth-child(2) {
  display: flex;
  gap: 14px;
  font-size: 12px;
  color: #4f5665;
}

.pages > div > span:nth-child(2) > button {
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: #4f5665;
  cursor: pointer;
}

.pages > div > span:nth-child(2) > a:first-child {
  color: #2948ff;
}

.pages > div > span:nth-child(2) > a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.pages > div > span:nth-child(2) > a:hover,
.pages > div > span:nth-child(2) > button:hover {
  color: #2948ff;
  color: #2948ff;
}

.find-people > div > a > span {
  display: inline;
}

.abu {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #272a31;
;
}

.history-list-mobile {
  display: none;
}

@media (max-width: 830px) {
  /* HISTORY */
  .history-list {
    display: none;
  }

  .history-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }

  .history-list-mobile > a {
    height: 72px;
    max-width: 1003px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  .history-list-mobile > a > div:first-child > span {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4f5665;
    text-decoration: none;
  }

  .history-list-mobile > a > div:first-child {
    display: flex;
    flex-direction: column;
  }

  .history-list-mobile > a:nth-child(odd) {
    background-color: #e8e8e8;
  }
  .history-list-mobile > a:nth-child(even) {
    background-color: white;
  }

  .navbar-mobile > a:nth-child(3) {
    color: #2948ff;
    font-weight: 700;
  }

  nav {
    display: none;
  }

  .dashboard {
    margin: 0;
    padding: 0 0 30px;
  }

  .guide {
    background-color: #2948ff;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 54px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }

  .guide > span {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.6%;
  }

  .guide > span > img {
    display: none;
  }

  .find-people {
    margin-top: 50px;
    padding: 0;
  }

  .find-people > div:nth-child(1) {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    width: 100%;
  }

  .find-people > div:nth-child(1) > p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
  }

  .find-people > div:nth-child(1) > span {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .find-people > div:nth-child(2) {
    padding: 20px 20px 0;
  }

  .find-people > div:nth-child(2) > div > img {
    display: none;
  }

  .find-people > div:nth-child(2) > div > button {
    display: none;
  }

  .find-people > div:nth-child(2) > div > span:nth-child(2),
  .find-people > div:nth-child(2) > div > span:nth-child(3) {
    display: none;
  }

  .green,
  .red {
    font-size: 14px;
  }

  .pages > div {
    display: none;
  }

  .pages > div > img {
    display: none;
  }
}
