/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  background-color: #2948ff;
  margin: 0;
  padding: 0;
}

/* ALERT */

.alert-off{
  display: none;
}

.alert-on {
  background-color: rgba(0, 0, 0, 0.384);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-box {
  background-color: white;
  height: 50%;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  box-shadow: 0px 4px 25px 0px #00000026;
}

.alert-box > img {
  width: 200px;
  height: 200px;
}

.alert-box > p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 20px;
}

.alert-box > button {
  cursor: pointer;
  background-color: #FEC355;
  color: black;
  font-weight: 500;
  padding: 10px 0;
  width: 80%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.success-off {
  display: none;
}

.success-on {
  background-color: rgba(0, 0, 0, 0.384);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-box {
  background-color: white;
  height: 50%;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  box-shadow: 0px 4px 25px 0px #00000026;
}

.success-box > img {
  width: 100px;
  height: 100px;
}

.success-box > p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
}

.success-box > p:last-child {
  color: #2948ff;
}

/* ------------------ */

.container {
  height: 110svh;
  /* height: fit-content; */
  flex: 1 ;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

/* Register Section */
.register {
  background-color: white;
  flex: 1;
  max-width: 50%;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px 70px;
}

.register > div:nth-child(1) {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 7px;
}

.register > div:nth-child(1) > span {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2948ff;
}

.register > div:nth-child(1) > img {
  width: 32px;
  height: 32px;
}

.register > div:nth-child(2) > div:nth-child(1) > p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
}

.register > div:nth-child(2) > div:nth-child(2) > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16 px;
  line-height: 166%;
  letter-spacing: 0%;
  padding-top: 20px;
}

.register > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* padding-top: 20px; */
}

.register > div:nth-child(3) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 562px;
  height: 40px;
  gap: 10px;
  border: 1px solid #e8e8e8;
  color: black;
  border-radius: 100px;
  padding: 10px;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.5%;
  text-align: center;
}

.register > div:nth-child(3) > a > img {
  width: 20px;
  height: 20px;
}

.register > div:nth-child(4) {
  display: flex;
  flex-direction: column;
}

.register > div:nth-child(4) > form > div {
  display: flex;
  flex-direction: column;
}

.or {
  width: 100%;
  height: 20px;
}

form > div > label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 30px 0;
}

form > div > input {
  width: 100%;
  max-width: 562px;
  height: 40px;
  border: 1px solid #dedede;
  gap: 10px;
  border-radius: 8px;
  margin: 14px 13px;
  font-size: 16px;
}

.form > p:last-child {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #4f5665;
  padding-top: 10px;
}

.form > p:last-child > a {
  text-decoration: none;
  color: #2948ff;
}


.btn-register {
  cursor: pointer;
  width: 100%;
  /* max-width: 562px; */
  height: 40px;
  gap: 10px;
  border-radius: 6px;
  padding: 10px;
  background-color: #2948ff;
  color: white;
  border: none;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.register > div:nth-child(4) > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 15px;
}

.register > div:nth-child(4) > p > a {
  text-decoration: none;
}



/* Ilustrasi Section */
.ilustrasi {
  background-color: #2948ff;
  flex: 1;
  width: 50%;
  /* max-width: 50%; Atur lebar maksimal */
  max-height: 100%; /* Pastikan tinggi penuh */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ilustrasi > div > img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

/* Input Fields */
.email > span,
.Password > span {
  width: 100%;
  height: 44px;
  gap: 10px;
  border-radius: 8px;
  border: 2px solid #e8e8e8;
  padding: 14px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.email > span > input,
.Password > span > input {
  width: 100%;
  height: 40px;
  border: none;
}

.email > span > input,
.Password > span > input:focus {
  outline: none;
}

.Password > span > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.auth-mobile,
.auth-mobile > div {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    text-align: center;
  }
  
  .register {
    max-width: 100%;
    width: 100%;
    height: 100%;
    flex: 1;
    margin: 0;
    padding: 20px;
    border-radius: 0;
    box-sizing: border-box;
  }
  .ilustrasi {
    background-color: white;
    display: none;
  }

  .register > div:nth-child(3) > a {
    display: none;
  }

  /* H1 */
  .register > div:nth-child(2) > div:nth-child(1) > p {
    font-size: 18px;
    font-weight: 500;
    text-align: start;
  }

  .register > div:nth-child(2) > div:nth-child(2) > p {
    font-size: 14px;
    font-weight: 400;
    text-align: start;
  }

  /* Hyperlink Register */
  .form > p:last-child {
    font-size: 14px;
  }

  /* OR */
  .or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .or > span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.5%;
    color: #4f5665;
  }


  /* AUTH MOBILE */
  .auth-mobile {
    display: flex;
    align-items: center;
  }

  .auth-mobile > div {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .auth-mobile > div > a {
    border: none;
    width: 50%;
    height: 45px;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid #e8e8e8;
    padding: 10px;
  }

  .auth-mobile > div > a > img {
    width: 24px;
    height: 24px;
  }

  form  {
    text-align: start;
  }
}
